a:link,a:visited { text-decoration:underline;color:#000; }
a:hover { color:#000; }
.menuA:link,.menuA:visited { float:left;height:26px;text-align:center;padding:0px 4px 0px 4px;text-decoration:none;color:#fff;line-height:210%; }  
.menuA:hover { height:26px;color:#fff;background:#ff6600; } 
.titleA:link,.titleA:visited { text-decoration:none;font-weight:bold;text-align:left; }
.titleA:hover { color:#000;text-decoration:underline; }
.sideA:link,.sideA:visited { color:#999;text-decoration:none;padding-left:0px;height:16px;overflow:hidden;display:block;margin-bottom:2px;width:170px; }
.sideA:hover { text-decoration:underline;color:#000;padding-left:0px;height:16px;overflow:hidden; }
.CategoryA:link,.CategoryA:visited { text-decoration:none;color:#999; }
.CategoryA:hover { color:#000;text-decoration:underline; }

.more:link,.more:visited { padding-left:0px;text-decoration:underline; }
.more:hover { color:#000;text-decoration:underline; }
.blogsetA:link,.blogsetA:visited { padding:0px 9px 4px 16px ; background:url(../../images/tools.gif) no-repeat;text-decoration:none; }
.mp3A:link,.mp3A:visited { padding:0px 0px 4px 16px; background:url(../../images/mm_snd.gif) no-repeat;text-decoration:none; }
.collA:link,.collA:visited { padding:0px 0px 4px 16px; background:url(../../images/MyFa.gif) no-repeat;text-decoration:none; }
.aboutA:link,.aboutA:visited { padding:0px 0px 4px 16px; background:url(../../images/ico_skdaq.gif) no-repeat;text-decoration:none; }
.normalA:link,.normalA:visited { padding:0px 12px 4px 16px; background:url(../../images/icon_normal.gif) no-repeat;text-decoration:none; }
.listA:link,.listA:visited { padding:0px 0px 4px 16px; background:url(../../images/icon_topic.gif) no-repeat;text-decoration:none; }
.commentA:link,.commentA:visited { padding:0px 0px 4px 14px; background:url(../../images/icon_offsite_red.gif) no-repeat -2px 3px;text-decoration:none; }
