@charset "utf-8";
/* CSS Document */
/*
   author:    hong
   email:     huanghong@hotmail.com
   homepage:  design-hong.com       */

a:link, a:visited, a:active {
  color: #aabc6a;
  text-decoration: none;
}
a:hover {
  color: #aabc6a;
  text-decoration: underline;
}
#main h2 a {
  color: #666;
}
.note {
  font-size: 9pt;
  font-weight: normal;
  color: #fc0;
  border-bottom: 1px dashed #fc0;
}

/* header */
#header {
  background-image: url(../../images/header_bookstore.gif);
}
#logo {
  background-position: left 180px;
  background-repeat: repeat-y !important;
}
#mainNav a.bookstore {
  background-position: right top;
}

/* bookstore */
#main {
  padding-bottom: 15px;
  background: url(../../images/store_bg.gif) left bottom;
}
.top {
  height: 110px;
  text-align: center;
  background-image: url(../../images/store_topbg.gif);
}
#secNav {
  padding: 10px 0 35px 99px;
}
#secNav li {
  float: left;
}
#secNav a {
  display: block;
  width: 94px;
  line-height: 23px;
  margin-right: 5px;
  padding-left: 10px;
  font-size: 10.5pt;
  font-weight: bold;
  color: #666;
  border: 1px solid #ccc;
}
#secNav a {
  background-color: #f8f8f8;
  background-position: 5px 3px;
}
#secNav #goodsCate a {
  background-image: url(../../images/store_navsign_1.gif);
}
#secNav #newBook a {
  background-image: url(../../images/store_navsign_2.gif);
}
#secNav #chartSale a {
  background-image: url(../../images/store_navsign_3.gif);
}
#secNav #recoRead a {
  background-image: url(../../images/store_navsign_4.gif);
}
#secNav #cheapSale a {
  background-image: url(../../images/store_navsign_5.gif);
}
#secNav #myAccount a {
  background-image: url(../../images/store_navsign_6.gif);
}
#secNav #buyGuide a {
  background-image: url(../../images/store_navsign_7.gif);
}
#storeSearchForm {
  clear: both;
}
#storeSearchForm #storeSearchText {
  width: 500px;
  height: 20px;
  padding: 5px 10px 1px 10px;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 10.5pt;
  border: 1px solid #ccc;
}
#storeSearchForm #storeSearchButton {
  width: 100px;
  height: 28px;
  padding: 1px;
  font-size: 10.5pt;
  font-weight: bold;
}
.keywords {
  position: absolute;
  margin-top: -23px;
  margin-left: 180px;
  *margin-left: -310px;
  z-index: 9;
}
.keywords li {
  float: left;
}
.keywords li a {
  padding: 0 5px;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 10.5pt;
  color: #333 !important;
}
.seniorSearch a {
  position: absolute;
  width: 50px;
  margin-top: -18px;
  margin-left: 150px;
  color: #999 !important;
  text-align: center;
  z-index: 9;
}

/* sidebar */
#sidebar {
  display: inline;
  float: left;
  width: 180px;
  margin-left: 25px;
}
#sidebar ul, #sidebar ol {
  margin: 5px 10px 0 10px;
}
#sidebar li {
  margin-bottom: 2px;
}
#sidebar h2 {
  height: 25px;
  line-height: 25px;
  padding-left: 20px;
  font-size: 10.5pt;
  color: #666;
  border-bottom: 1px solid #d5d5d5;
  background-color: #f8f8f8;
  background-image: url(../../images/store_navsign_1.gif);
  background-position: 5px 5px;
}
.bookCate, .bookPoly, .hotSale, .bookBrowse, .bookSearch, .searchResult, .specialSearch, .special {
  margin-bottom: 15px;
  padding-bottom: 10px;
  border: 1px solid #d5d5d5;
  background-color: #fff;
}
.bookPoly {
  display: none;
}
#sidebar .hotSale h2 {
  background-image: url(../../images/store_navsign_3.gif);
}
#sidebar .bookBrowse h2 {
  background-image: url(../../images/store_browsesign.gif);
}
#sidebar .bookSearch h2 {
  background-image: url(../../images/store_searchsign.gif);
}
#sidebar ol li {
  padding: 5px 0;
  list-style-position: inside;
  list-style-type: decimal;
  font-family: "Courier New", Courier, monospace;
  color: #fff;
  border-bottom: 1px dashed #d5d5d5;
  background-image: url(../../images/notice_8.gif);
  background-position: left 8px;
}
#sidebar ol li.topImage {
  *vertical-align: top;
}
#sidebar ol li.topImage img {
  margin-left: 35px;
  *margin-left: 25px;
}
#sidebar .bookSearch ol li {
  padding: 2px 0;
  background-position: left 5px;
}
#sidebar ol li a {
  font-weight: normal;
  color: #999;
}
#sidebar .hotSale img, #sidebar .bookBrowse img {
  margin-left: 25px;
  padding: 2px;
  background: #f2f2f2;
}

/* category */
.tree a.switch, .tree a.last, #search .tree a {
  display: block;
  width: 141px;
  line-height: 17px;
  padding-top: 1px;
  padding-left: 15px;
  font-weight: bold;
  color: #999;
  border: 1px solid #f2f2f2;
  background-image: url(../../images/store_navopen.gif);
  background-position: 3px 5px;
  cursor: pointer;
}
.tree a.switch:hover, #search .tree a:hover {
  color: #aabc6a;
  border: 1px solid #dce3cc;
  text-decoration: none;
}
.tree .folded a {
  color: #999;
  background-image: url(../../images/store_navclose.gif);
}
.tree a.last {
  background-image: url(../../images/store_arrow_4.gif);
}
#sidebar .cateList {
  width: 137px;
  margin: 5px 0;
  padding: 5px 0 5px 10px;
  border: 1px solid #dce3cc;
  border-left: 2px solid #dce3cc;
}
.tree .cateList li a {
  display: inline;
  padding-left: 0;
  font-weight: normal;
  color: #aabc6a;
  border-bottom: 1px dashed #aabc6a;
  background: none;
}
.cateList li a:hover {
  text-decoration: none;
  border-bottom: 1px solid #aabc6a;
}
.cateLink {
  margin: 5px 10px 0 10px;
  padding: 5px 0 0 10px;
  border-top: 5px solid #eef2e1;
}
.cateLink a {
  padding-right: 8px;
  color: #999;
  text-decoration: underline;
  background: url(../../images/store_arrow_5.gif) right top;
  cursor: pointer;
}
.cateLink a:link {
  color: #999;
  text-decoration: underline;
}

/* content */
#content {
  display: inline;
  float: left;
  width: 725px;
  margin-left: 15px;
}
#content ul, #content ol {
  margin-top: 5px;
}
#content h2 {
  line-height: 25px;
  padding-left: 30px;
  font-size: 10.5pt;
  color: #666;
  border: 1px solid #d5d5d5;
  background-color: #f8f8f8;
  background-position: 10px 5px;
}
#content h2 a {
  display: block;
}
#content h2 a:hover {
  background: url(../../images/store_arrow_1.gif) right center;
}
#content div.list, #content li.list, #content .recommend .list {
  margin-top: 10px;
  border: 1px solid #d5d5d5;
  background-color: #fff;
}
#content .image img, #content ol img, #content .pic img, #secContent .pic img {
  display: block;
}
#content .title a {
  line-height: 2em;
  font-weight: bold;
  border-bottom: 2px solid #dde4c3;
}
#content .title a:hover {
  text-decoration: none;
  border-bottom: 2px solid #aabc6a;
}
#content .price, #content .marketPrice {
  font-family: Georgia, "Times New Roman", Times, serif;
  color: #999;
}

/* info */
.info h3.title {
  font-size: 9pt;
}
.info .score {
  color: #999;
}
.info .score a {
  color: #999;
}
.info .publisher {
  color: #999;
}
.info .price {
  padding-left: 10px;
  padding-right: 5px;
  color: #999;
  background: url(../../images/price_2.gif) left 3px;
}