@import url("../basic.css");
@import url("bookstore.css");

@import url("../common.css");
@import url("../bookstore.css");

/********************/
/* Layouts **********/
/********************/
#content {
	width: 725px;
}

#content h2 {
	background-image: url(../../images/store_navsign_3.gif);
}
.top-sale ol.list li {
	float: left;
	width: 330px;
	height: 140px;
	margin-right: 10px;
	overflow:hidden;
}
.top-sale ol.list li h3 a {
	line-height: 1.8em;
	border-bottom: 2px solid #dde4c3;
}
.top-sale ol.list li h3 a:hover {
	text-decoration: none;
	border-bottom: 2px solid #aabc6a;
}
.top-sale ol.list li .summary {
	line-height: 1.2em;
	height: 3.5em;
}
.top-sale ol.list li .comments {
	color: #333;
}