@import url("../../basic.css");
@import url("../bookstore.css");

@import url("../../common.css");
@import url("../../bookstore.css");

ol.tab {
	float: left;
}
div.cart {
	text-align: center;
	background: #9cf url(../../../images/res/bookstore/cart/cart_bg.gif)  no-repeat center bottom;
}
#order-gifts .book {
	padding: 5px;
}