/* CSS Document */

#members {
	height:490px;
	background:url("images/members.jpg") no-repeat top left;
}
#members li {
	float:left;
	text-indent:-9999px;
	list-style-type:none;
}
#members li a {
	display:block;
	width:150px;
	height:150px;
	outline:none;
}

#members-doukai a {
	margin:28px 0 0 0;
	background:url("images/members-doukai.gif") no-repeat top left;
}
#members-doukai a:hover {
	background:url("images/members-doukai.hover.gif") no-repeat top left;
}
#members-laoli a {
	width:120px;
	height:120px;
	margin:32px 0 0 60px;
	background:url("images/members-laoli.gif") no-repeat top left;
}
#members-laoli a:hover {
	background:url("images/members-laoli.hover.gif") no-repeat top left;
}
#members-xiaoming a {
	width:120px;
	height:120px;
	margin:38px 0 0 60px;
	background:url("images/members-xiaoming.gif") no-repeat top left;
}
#members-xiaoming a:hover {
	background:url("images/members-xiaoming.hover.gif") no-repeat top left;
}
#members-jinyuan a {
	margin:-10px 0 0 80px;
	background:url("images/members-jinyuan.gif") no-repeat top left;
}
#members-jinyuan a:hover {
	background:url("images/members-jinyuan.hover.gif") no-repeat top left;
}
#members-chenbaoqi a {
	margin:0 0 0 70px;
	background:url("images/members-chenbaoqi.gif") no-repeat top left;
}
#members-chenbaoqi a:hover {
	background:url("images/members-chenbaoqi.hover.gif") no-repeat top left;
}
#members-introduce {
	float:right;
	width:400px;
	margin-top:-120px;
}

#company p {
	text-indent:2em;
}
#company p.first {
	background:url("images/company p.first.jpg") no-repeat top left;
}